[submodule "scene_understand/ESTextSpotter"]
	path = scene_understand/ESTextSpotter
	url = https://github.com/CameronChen07/ESTextSpotter.git
[submodule "venue_map_planner"]
	path = venue_map_planner
	url = https://github.com/CameronChen07/venue_map_planner.git
